body{
   width: 100vw;
   height: 100vh;
   background-color: #e0f788;
   background-repeat: none;
   background-size: cover;
   font-family: 'Teko', sans-serif;
   color: #38502D;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.root{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

}

/* Nav-Bar Section */

.nav{
    width: 100vw;
    background-color: #38502D;
    display: flex;
    align-items: right;
    margin: 0;
    border: #8E9C57 2px solid;
}
.n-logo{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    

}
.n-logo:hover{
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

 /* Nav-Bar Links */
 .nav-link{
    margin-top: 15px;
 }
 
 .links{
    color: #8E9C57;
    font-size: 35px;
    text-decoration: none;
    align-items: center;
    padding: 25px;
    
    
    
}
.links:hover{
    color: #3B0B1E;
    z-index: 4;
    transition: 0.05s ease;
   
}

  /* Nav-Bar Links */

  /* Nav-Bar Section */

  /* Hero Section */
.hero{
    /* display: grid;
    */
    right: 0;
    margin-top: 5vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.hero-txt{
    display: flex;
    margin-top: -30vh;
    align-items: center;
    align-self: center;
}
.logo{
    margin-left: 25vw;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 100px 25px 250px 250px 100px;
    
}

.wel-txt{
    font-weight: 900;
    font-size: 50px;
    z-index: 1;
    grid-area: 3/1/4/2;
    text-align: right; 
    padding: 5px;
    color: #fff;
    margin-right: 50px;
    margin-top: 15px;
}
.beast-txt{
    font-weight: 900;
    font-size: 100px;
    text-align: right;
    grid-area: 3/1/5/2;
    z-index: 2;
    color: #3B0B1E;
    padding: 50px;
    margin-bottom: 75px;
   
}
.h-logo{
    border-radius: 150px;
    grid-area: 1/2/5/2;
    z-index: 4;
    margin-top: 75px;
   
    
    
}
.light{
    transform: rotate(90deg);
    grid-area: 3/1/4/2;
    z-index: l;
    align-self: center;
    position: absolute;
    width: 150px;
    height: 500px;
    margin-left: 260px;
    margin-bottom: 130px;
    border-radius: 0px 0px 70px 0px;
    background-color: #6E8856;
}
.light2{      
    transform: rotate(90deg);
    grid-area: 3/1/5/2;
    z-index: -2;
    align-self: center;
    position: absolute;
    width: 150px;
    height: 550px;
    margin-left: 260px;
    margin-bottom: 300px;
    border-radius: 0px 0px 150px 0px;
    background-color: #3B0B1E; 
}

.soc{
    text-decoration: none;
    color: #3B0B1E;
}
p{
    z-index: 9;
    font-size: 35px;
    text-align: center;
    align-self: center;
    font-weight: 600;
    color: #38502D;
    padding: 18px;
    /* background-color: #00bbf9; */
    /* -webkit-box-shadow: 0 0 50px #000;
    box-shadow: 0 0 50px #000; */
    /* border-radius: 80px 0px 70px 0px; */
}
 h2 span{ 
    color: #8E9C57;
    border-radius: 25px;
    
}
span{
    color: #3B0B1E;
    text-decoration: none;
  box-shadow: inset 0 -2px 0 #3B0B1E, 0 2px 0 #1A2C1D;
  transition: box-shadow .3s;
  overflow: hidden;
}
span:hover{
    
        box-shadow: inset 0 -30px 0 #fff, 0 2px 0 #fff;
}

/* .hp2{
    z-index: 9;
    font-size: 25px;
    text-align: right;
    align-self: center;
    font-weight: 400;
    /* background-color: #9b5de5; */
    /* border-radius: 0px 80px 0px 70px; */
    
*/
p:hover{
    font-size: 26px;
    
}
/* .hp2:hover{
    font-size: 26px;
}
.hp2 span { 
    color: #3B0B1E;
} */

marquee {
    font-weight: 500;
    font-size: 26px;
    text-align: left;
    color: #8E9C57;
  /* animation properties
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 1s linear infinite;
  -webkit-animation: my-animation 1s linear infinite;
  animation: my-animation 20s linear infinite; */
}
svg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;

}

@keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  } 
.hm{
    color: #3B0B1E;
}
.footer{
    margin-top: -50px;
}
 span .s1{
    color: #3B0B1E;
}
/* .mark1{
    /* background-color: #A1045A;
    z-index: 6;
    width: 100vw;
    height: 50px;
    margin-top: -55px;
}*/


  /* Hero Section */